{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Find a Doctor</h3>
<div class="row g-4">

    {% for doc in doctors %}
    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">{{ doc.doctorName }}</h5>
                <p class="text-muted mb-1">{{ doc.specialisationName }}</p>
                <p class="text-muted mb-1">🏥 {{ doc.hospitalName }}, {{ doc.city }}</p>
                <p class="text-muted mb-3">⭐ Exp: {{ doc.experience }} Yrs | Fees: ₹{{ doc.fees }}</p>
                
                <a href="/doctor/{{ doc.doctorID }}" class="btn btn-primary w-100">View Slots & Book</a>
                
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}