{% extends "base.html" %}
{% block content %}

<h3 class="mb-4">Find a Doctor</h3>
<div class="row g-4">

    {% for doc in doctors %}
    <div class="col-md-4">
        <div class="card shadow-sm h-100">
            <div class="card-body">
                <h5 class="card-title">{{ doc.name }}</h5>
                <p class="text-muted mb-1">{{ doc.specialisation }}</p>
                <p class="text-muted mb-1">🏥 {{ doc.hospital }}</p>
                <p class="text-muted mb-3">⭐ {{ doc.rating }} / 5</p>
                <a href="/book" class="btn btn-primary w-100">Book Appointment</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}